# Matheus Barber Backend - Versão 3.0.0
flask
flask-cors
gunicorn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
requests
pydantic
pydantic-settings
email-validator
